html {
    background-color: #cfd1d1;
}

h1, p {
    font-family: Arial, Helvetica, sans-serif;
}

.homepage {
    text-align: center;
}

#Chef-photo, .recipe-photo {
    height: 300px;
    width: auto;
}